[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
matplotlib = "*"
python-dotenv = "*"
openpyxl = "*"
bs4 = "*"
seaborn = "*"
scikit-learn = "*"
selenium = "*"
webdriver-manager = "*"
chromedriver-binary = "*"
chromedriver-binary-auto = "*"
chromedriver-autoinstaller = "*"

[dev-packages]

[requires]
python_version = "3.13"
